<%content_for :head do%>
<%=stylesheet_link_tag "internal"%>
<% end %>
<body>

<div class="container">
  <div class="header">
      <div class="logo"><a href="./home.html"><img src="/images/logo.png" width="256" height="20" /></a></div>
      <div class="menu">
           <ul>
            <li><a href="./a-grife.html">A Grife</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./revenda.html">Revenda</a></li>
           </ul>
           
           <div class="icons_menu">
            <a href="#"><img src="/images/ico_facebook.png" width="17" height="20" class="icons_1"/></a>
            <a href="#"><img src="/images/ico_pinterest.png" width="17" height="20" class="icons_2" /></a>
           </div>
      <div class="clear"></div>     
      </div> 
    <div class="clear"></div>
    </div><!-- end .header -->

  <div class="content">
   	<div class="content_box">
    	<span class="title_c_box">A Grife</span>
        <p class="text_c_box">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ornare nunc. Sed risus augue, gravida tincidunt venenatis non, mattis eget eros. Fusce bibendum nisl eu tellus vehicula vehicula. Etiam sit amet lorem at lacus vehicula lacinia ac ut diam. Nulla nulla tellus, porta ut feugiat sed, laoreet a enim. Nunc at sapien aliquet nisl viverra egestas at et eros. Sed lorem neque, molestie id vehicula vel, semper non est. Pellentesque vestibulum augue sit amet tellus fringilla quis tempus urna volutpat.
        </p>
        <img src="/images/img_dtl_agrife.png" width="49" height="15" />
     </div>
    <div class="clear"></div>   	

    </div><!-- end .content -->
  <div class="footer">
  	<div class="f_track">
   		<div class="f_track_text">Lorem Ipsum Dolor Sit Amet!</div>
    </div>
    <div class="f_sub_text_track">
		lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ornare nunc. Sed risus augue, gravida tincidunt venenatis non, mattis eget eros. Fusce bibendum nisl eu tellus vehicula vehicula. Etiam sit amet lorem at lacus vehicula lacinia ac ut diam. Nulla nulla tellus, porta ut feugiat sed, laoreet a enim. Nunc at sapien aliquet nisl viverra egestas at et eros. Sed lorem neque, molestie id vehicula vel, semper non est. Pellentesque vestibulum augue sit amet tellus fringilla quis tempus urna volutpat.    
    </div>
