
.container {
	background:#232120;
	background-repeat:no-repeat;
	text-align:center;
}

.header {
	background-image:url(../images/bg_header_black_trans.png);
}
.menu {
	border-bottom:none;
}
.content {
	padding-top:133px;	
	position:relative;
	height:auto;
	min-height:300px;
	
}
.box_lancamentos{
	position:relative;
	max-width:999px;
	margin:0 auto;
}
.left_box{
	position:relative;
	float:left;
	max-width:289px;
}
.img_box{
	position:relative;
	margin-bottom:18px;
}

.name_prod{
	display:none;	
}
.img_box:hover .name_prod{
	display:block;
	top:0px;
	position:absolute;
	text-align:center;
	background-image:url(../images/bg_img_box_trans.png);
	width:100%;
	height:100%;
	
}
.name_prod span{
	position:relative;
	top:50%;
	display:block;
	margin-top:-15px;
	font-family:oranienbaumregular;
	font-size:24px;
	color:#fff;
	font-weight:normal;	
	
}
.right_box{
	position:relative;
	max-width:694px;
	float:left;
	margin-left:16px;
}
	.top_right{
		position:relative;
		float:left;
		height:auto;
	}
	.bottom_right{
		position:relative;
		max-width:893px;
		float:left;
	}
		.left_br{
			position:relative;
			max-width:287px;
			float:left;
		}
		.right_br{
			position:relative;
			max-width:391px;
			margin-left:16px;
			float:left;
		}
@media only screen and (max-width: 998px)
{
	.left_box{
	float:none;
	max-width:595px;
	margin:0 auto;
	text-align:center;
}
	.img_box{
		float:left;		
	}
	.right_box{
		text-align:center;
		margin:0 auto;
		float:none;
	}
	.align_img_box{
		margin-left:18px;
	}
}
@media only screen and (max-width: 695px)
{
	.left_box{
	float:none;
	max-width:287px;
	margin:0 auto;
	text-align:center;
	}
	.top_right{
		float:none;
		margin-bottom:18px;
		margin:0 auto;
		width:287px;
		margin-top:18px;
	}	
	
	.left_br {
		max-width: 287px;
		float: none;
		margin:0 auto;
		margin-bottom:18px;	
	}
	.right_br {
		float: none;
		margin:0 auto;
		width:287px;	
	}	
	.bottom_right {
		position: relative;
		max-width: 893px;
		float: none;
	}	
	.align_img_box{
		margin:0 auto;
		margin-bottom: 18px;
	}

}
@media only screen and (max-width: 620px)
{

	.left_box{
	float:none;
	max-width:287px;
	margin:0 auto;
	text-align:center;
	}


}
@media only screen and (max-width: 320px)
{

}
