<%content_for :head do%>
<%= javascript_include_tag "responsiveslides.min.js"%>
<%=stylesheet_link_tag "responsiveslides.css"%>
<script type="text/javascript">

$(document).ready(function() {
	var nav = $('.header');   
	$(window).scroll(function () { 
		if ($(this).scrollTop() > 71) { 
			nav.addClass("header_bg"); } 
		else { 
			nav.removeClass("header_bg"); 
		} });	
		
	$(window).scroll(function () {
	  $(".header111").css("background-image", "url(/images/bg_header.png)");
	  $(".header111").addClass("header_bg");
	});
		
	$("#slider4").responsiveSlides({
        auto: false,
        pager: false,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });




});
	
</script>
<% end %><div class="content">
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
		  <%=image_tag("destaque.jpg")%>
          <p class="caption">Delicadeza e Sofisticação<br />
          	<span class="caption_sub">Feminilidade Traduzida Em Moda</span>
          </p>
        </li>
      </ul>
    </div>
              

       
        <div class="clear"></div>   	

    </div><!-- end .content -->
<div class="footer">
<div class="footer_high_box">
    	<h1 class="title_high_box">Peças Exclusivas Criadas Para Mulheres Autênticas</h1>
        <hr class="line_hbx">
        <p class="text_high_box">
			Toda mulher sonha em poder trabalhar com aquilo que ama e, com esse trabalho, sonha também em poder fazer dele algo que as outras pessoas admirem. 
			Foi pensando dessa maneira que Vanessa Prado desenvolveu sua marca. Com dedicação, determinação e muito trabalho, ela trouxe ao mercado a qualidade dos produtos que hoje estão disponíveis para consumidoras de todo o País.
			Um trabalho para mulheres que começou justamente com o sonho de uma delas.
		</p>
    </div>
