<%content_for :head do%>
<%= stylesheet_link_tag "blog"%>
<%end%>
<div class="content">
   	<div class="content_blog">
    	<h1 class="title_c_blog">Blog</h1>
        <div class="search_c_blog">
			<input type="text" width="715" height="62" placeholder="Buscar por ...">
        </div>
        <div class="item_blog">
            <div class="date_item">
                <span class="day_date">10</span><br>
                <span class="month_year_date">04/13</span>
            </div>
        	<div class="item_content"> 
                <h2 class="title_item"><%= @post.title%></h2>
                <img src="/images/img_detail_blog_content.png" width="64" height="15" class="img_blog_align">
                <p class="text_item">
                  <%= @post.content%>
                </p>               
                <hr color="d0d0d0" width="232" class="hr_line">
                <div class="clear"></div>
            </div> 
            <div class="clear"></div>          
        </div>
        
        <hr color="d7dee1" class="" style="max-width:731px;">
        <div class="pagination">
        	<span class="previus_page">Anterior</span>
        	<span class="pagination_numbers">
            	<a>1</a>
                <a>2</a>
                <a class="current">3</a>
                <a>4</a>
                <a>5</a>
                <a>...</a>
            </span>
            <span class="next_page">Próxima</span>
        </div>
    </div>
    <div class="clear"></div>   	
	<div class="text_content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ornare nunc. Sed risus augue, gravida tincidunt venenatis non, mattis eget eros. Fusce bibendum nisl eu tellus vehicula vehicula. 
    </div>	
    </div>
    <!-- end .content -->
<div class="footer">
