<div id="Footer_content">
	<div id="Copyright" class="eight columns">
		<p style="color:#969696 !important; margin-top:6px;">SATO7 CMS - all rights reserved</p> 
	</div>
	
	<div id="MenuFooter" class="four columns end">
		<ul>
			<li><a href="#" style="color:#969696 !important; margin-top:6px;">Suporte </a></li>
		</ul>
	</div>	
</div>