<div class="container">
  <div class="header">
      <div class="logo"><%=link_to (image_tag ("logo.png")), root_path%></div>
      <div class="menu">
           <ul>
            <li><%=link_to "A Grife", brand_index_path%></li>
			<!-- <li><%#=link_to "Shop", "#"%></li>
            <li><%#=link_to "Blog", posts_path%></li>-->
            <li><%=link_to "Lançamentos", releases_index_path%></li>
            <li><%=link_to "Revenda", resellers_path%></li>
           </ul>
           
           <div class="icons_menu">
			<%#= link_to(image_tag("ico_facebook.png", :width=>"17", :height=> "20", :class=>"icons_1"), "#")%>
			<%#= link_to(image_tag("ico_pinterest.png", :width=>"17", :height=> "20", :class=>"icons_2"), "#")%>			
           </div>
      <div class="clear"></div>     
      </div> 
    <div class="clear"></div>
  </div><!-- end .header -->
  
