<div class="footer_content">
        <div class="footer_box drop_box_bottom">
        	<div class="f_content_box logo_footer">
				<img src="/images/logo_bg.png" width="173" height="28" />              
            </div> 
      	</div>
        <div class="footer_box">
        	<div class="f_content_box">
            	<div class="label_f_c_box">Telefones</div>
                <div class="text_f_c_box" >	
                    11 4032 4579<br />
                    11 7883 8607 
                </div>                
            </div>
        	<div class="f_content_box">
            	<div class="label_f_c_box">Nextel ID</div>
                <div class="text_f_c_box" >	
                    &nbsp;55*118*45984 
                </div>                
            </div>            
        
        </div>
        <div class="footer_box">
            <div class="f_content_box">
                <div class="label_f_c_box">Endereço</div>
                <div class="text_f_c_box" >	
                    Rua Castro Alves, 80<br />
                    Jd. Santa Rita de Cássia<br /> 
                    Bragança Paulista - SP<br /> 
                    CEP. 12914-300
                </div>                
            </div>        
        </div>
        <div class="footer_box f_b_adjust ">
        	<div class="f_content_box">
            	<div class="label_f_c_box">E-mail</div>
                <div class="text_f_c_box" >	
                    ola@vanessaprado.com.br
                </div>                
            </div> 
        </div> 
        <div class="clear"></div>                       
    </div>
    <div class="clear"></div> 
  </div><!-- end .footer -->
