<div class="container">
  <div class="header">
      <div class="logo"><a href="./home.html"><img src="/images/logo.png" width="256" height="20" /></a></div>
      <div class="menu">
           <ul>
            <li><%=link_to "A Grife", brand_index_path%></li>
            <li><a href="#">Shop</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><%=link_to "Revenda", resellers_path%></li>
           </ul>
           
           <div class="icons_menu">
            <a href="#"><img src="/images/ico_facebook.png" width="17" height="20" class="icons_1"/></a>
            <a href="#"><img src="/images/ico_pinterest.png" width="17" height="20" class="icons_2" /></a>
           </div>
      <div class="clear"></div>     
      </div> 
    <div class="clear"></div>
    </div><!-- end .header -->
  
